.container {
	padding: 0;
	font-family: gothic;
}

.btn_new {
	border-radius: 10px;
	font-size: 18px;
	font-weight: bold;
	color: black;
	outline: none;
}

.btn_new:hover {
	background-color: black;
	color: white;
}

.footer_text {
	text-align: center;
	font-size: 16px;
}

.info {
	position: fixed;
	background-color: black;
	top: 40px;
	height: 30px;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	z-index: 1;
}

.info_elem {
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	border-top: 1px black solid;
}

.message {
	position: fixed;	
	top: 70px;
	opacity: 0;
	left: 50%;
	margin-left: -500px;
	width: 1000px;
	z-index: 1;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
}

table {
	position: absolute;
	top: 70px;
	height: 700px;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	overflow: scroll;
	z-index: 0;
}

td {
	height: 10px;
	width: 10px;
}

.td0 {
	background-color: white;
}

.td1 {
	background-color: grey;
}

.td2 {
	background-color: purple;
}

.td3 {
	background-color: green;
}

.td- {
	background-color: red;
}

.tdw {
	background-color: blue;
}

.tdb {
	background-color: black;
}

.tdd {
	background-color: yellow;
}

.title {
	position: fixed;
	height: 40px;
	background-color: red;
	color: white;
	font-size: 30px;
	font-weight: bold;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	z-index: 1;
	text-align: center;
}

